html{
    scroll-behavior:smooth;
}
.nav-link{
   font-family: Arial, Helvetica, sans-serif; 
}

nav{
    background-color: transparent;
}
.bgcolor.scrolled{
    background-color: rgb(0, 0, 0);
    transition: all 1.1s;
}
.nav-item.scrolled{
    color: black;
}
.scrolled .nav .navbar-brand{
    color: black;
}
#navbrand{
    margin-left: 20%;
    color: white;
    font-size: 33px;
    font-weight: bold;
}
@media only screen and (max-width: 992px) {
    #navbarNav {
      position: fixed;
      top: 37%;
      left: 50%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);
    }
  }
@media only screen and (max-width: 992px) {
    .nav-item{
      display: inline-block;
      margin-top: 20px!important;
      background-color: white;
      border-radius: 50px;
      height: 40px;
      margin-left: 5px;
       width: 400px;

    }
  }
  @media only screen and (max-width: 992px) {
    .nav-link{
        color: black!important;
    }
  }
  @media only screen and (min-width: 993px) {
    .nav-link{
        color: white!important;
    }
  }
.nav-item{
    padding: 1px 8px;
    margin-top: 5px;
    color: white!important;
}
#bg1{
    background-image: url(Images/luca-cassani-5L6H5K9GQ9s-unsplash.jpg)!important;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}
.h-100vh {
    height: 100vh;
}
.main-text{
    color: #e65f78;
}
.section {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

#sprow{
    justify-content: center;
}
.header-table {
    display: table;
    width: 100%;
    height: 100%;
}
.header-table-center {
    display: table-cell;
    vertical-align: middle;
}
.navbar-collapse{
    margin-right: 20%;
}
.navlink.active{
        color: #d9534f;
}
.headerset{
    padding-top: 240px;
    box-sizing: border-box;
}
.header-content {
    max-width: 800px;
}
#banner-area h4{
   font-size: 1.5rem;
}
.header-name {
    font-size: 54px;
}
#banner-area a{
    text-decoration: none;
    color: white;
}
#btn1{
    padding: 15px 32px;
    font-size: 14px;
    font-weight: 700;
    transition: all 0.5s;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 30px;
    text-transform: uppercase;
    outline: none !important;
}
#btn1:hover{
    background-color: white;
    color: black;
}
.about-social li a {
    color: #000;
    display: inline-block;
    height: 42px;
    width: 42px;
    font-size: 25px;
    border-radius: 50%;
    border: 2px solid #d4d4d4;
    line-height: 38px;
    transition: all 0.5s;
    text-align: center;
}

.about-social li a:hover{
    color: #d9534f;
    border: 2px solid #d9534f;
}
#os-p{
    max-width: 500px;
}
.services-boxes{
    border: 1px solid #E8E8E8;
}
#btn2{
    height: 45px;
    width: 132px;
    padding-top: 9.5px;
}
#quote-section{
    background-color: #f8f9fa!important;
}
.carousel-cell{
    height: 319px;
}
#img1{
    height: 100px;
    width: 100px;
}
.client_review {
    font-size: 18px;
}
.client_name {
    font-size: 16px;
}

.owl-carousel {
    width: 100%;
    height: 300px;
}

.slide {
    width: 100%;
    height: 300px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.slide::before {
    content: "";
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.slide-content {
    text-align: center;
}

.slide-content h1 {
    font-family: "Anton", serif;
    font-size: 45px;
    text-transform: uppercase;
}

.slide-content p {
    font-family: "Lato", serif;
    font-size: 18px;
    margin-bottom: 20px;
}

.slide-content button {
    font-family: "Roboto", serif;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 10px 25px;
    border: none;
}

.owl-dots {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: -22%;
    color: #d9534f;
}

.owl-dots span {
    width: 40px !important;
    height: 10px !important;
    color: #d9534f;
}

.owl-dots button {
    border: none !important;
    outline: none !important;
}
.section-subtitle{
    max-width: 500px;
}

.section-subtitle{
    max-width: 500px;
}
.work_menu li a {
    cursor: pointer;
    display: block;
    color: #000;
    border-radius: 30px;
    letter-spacing: 0.03em;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 14px;
    padding: 6px 16px;
    transition: all 0.2s;
    margin-top: 5px;
}
.work_menu li a.active{
    color: white;
}
.work-item {
    position: relative;
    padding: 15px;
}

.work-box .work-img {
    position: relative;
    overflow: hidden;
}


.work_menu li a {
    cursor: pointer;
    display: block;
    color: #000;
    border-radius: 30px;
    letter-spacing: 0.03em;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 14px;
    padding: 6px 16px;
    transition: all 0.5s;
    margin-top: 5px;
}

.work_menu a.active,
.work_menu a:hover {
    color: #fff;
    background-color: #d9534f;
    text-decoration: none;
}

@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.gallery .gallery-item.hide{
	display: none;
}

/*responsive*/
@media(max-width: 991px){
	.gallery .gallery-item{
		width: 50%;
	}
}
@media(max-width: 767px){
    .gallery .gallery-item{
		width: 100%;
	}	
	.gallery .gallery-filter .filter-item{
		margin-bottom: 10px;
	}
}

#blog-title{

    font-size: 20px;
    font-family: sans-serif;
    font-weight: 700;
}
#blog-title-a{
    text-decoration: none;
    font-weight: 500;
}
#btn3{
    width: 182px;
    height: 53px;
    font-weight: 600;
}



.footer {
    padding: 70px 0px;
    background-color: #242424 !important;
}

.footer .footer-alt p {
    font-size: 16px;
}

#ficon{
    color: #6c757d!important;
}
.footer .footer-alt ul li a {
    border-radius: 50%;
    transition: all 0.5s;
    background-color: rgba(241, 241, 241, 0.08);
    width: 42px;
    height: 42px;
    display: block;
    font-size: 18px;
    line-height: 42px;
    text-align: center;
}
